/*全局样式*/
:root {
  --white: #f3f4f6;
  --bwhite: #fff;
  --pink: #f9b2b2;
  --spink: #ff607740;
  --sblue: #7fc9d2;
  --ssblue: #84bdd869;
  --grey: #999;
  --orange: orange;
  --swhite: #ffffff94;
}

.el-table tr,
.el-table {
  background: transparent !important;
}
